
/* menu */
.navbar {
  padding: 0 1em !important;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1;
}

.logo-nav {
  height: 80px;
}

.nav-link {
  height: 100% !important;
  padding: 8px 15px !important;
  margin: 0px 5px;
}

.borde-blanco {
  border: 1px white solid;
}

.border-white {
  border-color: #fff!important;
}

.fuente-40px {
  font-size: 40px !important;
  transition: 0.5s;
}

.fuente-20px {
  font-size: 30px !important;
  transition: 0.5s;
}

/* hero */
.hero {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80vh;
}

.img-hero {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.opacidad {
  background-color: black;
  opacity: .1;

  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}


.img-hero-principal {
  z-index: 2;
  max-width: 400px;
  width: 85%;
}

.img-hero-principal-center {
  /* position: relative; */

  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}


/* seccion de actualidad */

.h1-actualidad {
    color: #FFCD00;
    text-transform: uppercase;
}

.boton-actualidad{
    text-transform: uppercase;
}

.actualidad-texto {
    margin-top: 35px;
}

.actualidad-texto-derecha {
    margin-top: 35px; 
}

@media screen and (min-width: 768px) {
    .actualidad-texto {
        margin-top: 0;
        margin-left: -200px;
        padding: 40px;
        background-color: #f0efef;
        z-index: 1;
    }

    .actualidad-texto-derecha {
        margin-top: 0;
        margin-right: -190px;
        padding: 40px;
        background-color: #f0efef;
        z-index: 1;
    }
}

@media screen and (min-width: 1200px) {
    .actualidad-texto-derecha {
        margin-top: 0;
        margin-right: -235px;
        padding: 40px;
        background-color: #f0efef;
        z-index: 1;
    }
}

/* footer */


/* seccion del footer */

.footer {
    background: #343a40!important;
    color: white; 
  }
  
  .numero {
    text-decoration: none;
    color: white;
  }
  
  .icono-footer {
    font-size: 20px;
  }
  
  .correo {
    text-decoration: underline;
    color: white;
  }
  
  .final-footer {
    
    background: #FFCD00;
  }

  .h6-footer {
      color: black;
  }
  

